/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/CAFE-BG.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	
}

.center {
    width: 40%;
	min-width: 300px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(245, 242, 242, 0.75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border-radius: 50px 50px 50px 50px;
}

#logo {
	width: 40%;
	margin-top: 25px;
    margin-bottom: 16px;
	border: 3px;
	text-align: center;
}

h1 {
	font-family: "joly-display", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 2em;
    margin: 25px auto 15px auto;
    color: #444;
}

p {
	font-family: "joly-display", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.2em;
    line-height: 1.6;
    color: #444;
	letter-spacing: .1em;
}
 nav{
	font-family: "joly-display", sans-serif;
	font-size: 1.2em;
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
	box-shadow: 0px 5px 0px #405e79;
 }   

 nav ul {
	list-style: none;
	text-align: center;
 }

 nav ul li{
	display: inline-block;
 }
 nav ul li a {
	display:block;
	padding: 15px;
	text-decoration: none;
	color: #445b87;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
 }

 nav ul li a,
 nav ul li a:after,
 nav ul li a:before {
	transition: all .5s;
 }
 nav ul li a:hover {
	color: black;
 }

nav.stroke ul li a,
nav.fill ul li a {
	position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: transparent;
	background: black;
	height: 1px;
}
 nav.stroke ul li a:hover:after {
	width: 100%;
 }
nav.fill ul li a {
	transition: all 2s;
}
nav.fill ul li a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
}
nav.fill ul li a:hover {
	color: #023f1c;
	z-index: 1;
}
nav.fill ul li a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
}
